@font-face {
    font-family: 'InterSemiBold';
    src: url('Inter-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'InterRegular';
    src: url('Inter-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'InterMedium';
    src: url('Inter-Medium.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'InterBold';
    src: url('Inter-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'InterExtraBold';
    src: url('Inter-ExtraBold.ttf');
    font-weight: bold;
}