:root {
    --primary-color: #388FF3;
    --primary-light-color: rgba(56, 143, 243, 0.08);
    --secondary-color: #8e9297;
    --danger-color: #e93c47;
    --danger-light-color: #fef0f1;
    --text-primary-color: #151515;
    --black-color: #16191d;
    --gray-color: #eaedf0;
    --text-selection-color: #b3d4fc;
    --placeholder-color: #63676c;
    --input-bg-color: #f0f3f7;
}


.title {
    color: var(--black-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
}

.subtitle {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
}

.lang_text {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
}

.fav_text {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.form {
    width: 100%;
    max-width: 782px;
    margin: auto;
}

.form-container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}